.container {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;

    border-radius: 1em;
    background-color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    height: 96%;
    clip-path: circle();
}

.data {
    font-size: 1em;
}