.container {
    display: flex;
    gap: 5vw;

    font-size: 1.5em;
}

/* PANEL CONTAINERS AND WHAT NOT */
.panelBg {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(131, 131, 131, 0.8);
}

.panelContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 300px;
    min-width: 700px;
    width: 70vw;

    box-sizing: border-box;
    border: black 1px solid;
    background-color: aliceblue;
    border-radius: 1em;

    padding: 2em;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    margin-top: 1em;
    font-size: 2em;
}

.textField {
    width: 100%;
}