.imageUpload {
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 96%;
    max-width: 30vw;

    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
}