@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    
    box-sizing: border-box;
    padding: 2vh 2vw;

    font-size: 1.5em;
}

.header > *:nth-child(1) {
    justify-self: flex-start;
}

.header > *:last-child {
    justify-self: flex-end;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

/* OPTIONS */
.options {
    display: flex;
    gap: 1em;
}